<header>
    <h1>{{title}}
        <img class="cloudBug" src="/img/cloud.png" alt="">
    </h1>
    
    <nav>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </nav> 
</header>